// Design:      Yet Another Simple Academic Computer (YASAC)
// File:        ports_tb.v
// Description: Port configurations for testbench.
// Author:      amoraschi
// Date:        2024-04-29 (initial)

PORT08 = 8'h5a;
PORT09 = 8'hxx;
PORT10 = 8'hxx;
PORT11 = 8'hxx;
PORT12 = 8'hxx;
PORT13 = 8'hxx;
PORT14 = 8'hxx;
PORT15 = 8'hxx;